<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.e4.ui.css.swt.theme">
        <stylesheet
            uri="resources/theme/light_preferencestyle.css">
            <themeid
                refid="org.talend.themes.css.talend.default"></themeid>
        </stylesheet>
        <stylesheet
            uri="resources/theme/dark_preferencestyle.css">
            <themeid
                refid="org.eclipse.e4.ui.css.theme.e4_dark"></themeid>
        </stylesheet>
    </extension>
</plugin>
