<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
              context="plugin:org.talend.libraries.javacsv"
              language="java"
              message="Needed for Java CVS Reader and Writer"
              name="javacsv-2.0.jar" mvn_uri="mvn:net.sourceforge.javacsv/javacsv/2.0"
              required="true">
      </libraryNeeded>
   </extension>
</plugin>
