<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.talend.core.runtime.librariesNeeded">
      <libraryNeeded
              context="plugin:org.talend.libraries.jfreechart"
              language="java"
              message="Needed for jfreechart plugin"
              name="jcommon-1.0.17.jar" mvn_uri="mvn:org.jfree/jcommon/1.0.17" 
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.libraries.jfreechart"
              language="java"
              message="Needed for jfreechart plugin"
              name="jfreechart-1.0.14.jar" mvn_uri="mvn:org.jfree/jfreechart/1.0.14" 
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.libraries.jfreechart"
              language="java"
              message="Needed for jfreechart plugin"
              name="jfreechart-swt-1.0.17.jar" mvn_uri="mvn:jfree/jfreechart-swt/1.0.17" 
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.libraries.jfreechart"
              language="java"
              message="Needed for jfreechart plugin"
              name="swtgraphics2d-1.1.0.jar" mvn_uri="mvn:org.jfree/swtgraphics2d/1.1.0" 
              required="true">
        </libraryNeeded>
   </extension>

</plugin>
