<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="mavenSetting" name="MavenSetting" schema="schema/mavenSetting.exsd"/>
   <extension-point id="mavenPom" name="mavenPom" schema="schema/mavenPom.exsd"/>
   <extension
         point="org.talend.designer.maven.mavenSetting">
      <ProjectSettingManager
            class="org.talend.designer.maven.setting.DefaultProjectSettingManagerProvider">
      </ProjectSettingManager>
      <TemplateManager
            class="org.talend.designer.maven.setting.DefaultMavenTemplateManager">
      </TemplateManager>
   </extension>
   <extension
         point="org.talend.core.repository.login.task">
      <loginTask
            class="org.talend.designer.maven.logintask.CleanMavenLastUpdateFilesLoginTask"
            priority="lowest">
      </loginTask>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.maven.DesignerMavenService"
            serviceId="IDesignerMavenService">
      </Service>
   </extension>
   
      <!-- m2 LaunchGroup -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
   <!-- careful when changing id, it's used to locate launch configuration from the java code! -->
      <!--      category="org.eclipse.ui.externaltools" -->
      <launchConfigurationType
            id="org.eclipse.m2e.Maven2LaunchConfigurationType"
            delegate="org.eclipse.m2e.internal.launch.MavenLaunchDelegate"
            sourceLocatorId="org.eclipse.m2e.launching.MavenSourceLocator"
            sourcePathComputerId="org.eclipse.m2e.launching.MavenSourceComputer"
            name="%m2.launch.type.name"
            modes="run,debug" public="true"/>
   </extension>
   
   <extension point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            id="org.eclipse.m2e.launching.MavenSourceLocator"
            class="org.eclipse.m2e.internal.launch.MavenSourceLocator"
            name="%sourceLocator.name"/>
   </extension>
   
   <extension point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            id="org.eclipse.m2e.launching.MavenSourceComputer"
            class="org.eclipse.m2e.internal.launch.MavenSourcePathComputer"/>
   </extension>
   
</plugin>
